


#lab {
	width: 100%;
	overflow: hidden;
	padding-bottom: 70px;

	position: relative;

	-webkit-transition: all ease 500ms;
	-moz-transition: all ease 500ms;
	-o-transition: all ease 500ms;
	-ms-transition: all ease 500ms;
	transition: all ease 500ms;
}
.wrap{
    color:black;
    text-align: center;
    width: 320px;
    margin: 0px auto;

}
.wrap .title{
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #fff;
  overflow: hidden;
  transition-delay: .1s;
}
.wrap .title h1{
  font-size:  40px;
}
.wrap .title:hover{
    top:0;
    background-color: lightblue;
    transition: ease-out;

}

.title .subtitle{
  position: relative;
  top: 50%;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}





.wrap .subtitle{
  overflow:hidden;
  font-size: 24px;
  transition-delay: .1s ;


}

.wrap .subtitle span:hover{
    top: 0;
    transition: ease-out;
    background-color: grey;
}



.lab_item {
	width: 200px;

	height: 230px;
	position: relative;
	display: inline-block;
}

.hexagon2 {
	position: absolute;
	width: 200px;

	height: 400px;
	top: -85px;
}

.hexagon {
	overflow: hidden;
	visibility: visible;

	-webkit-transform: rotate(120deg);
	-moz-transform: rotate(120deg);
	-o-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	transform: rotate(120deg);
	cursor: pointer;
}

.hexagon-in1 {

	overflow: hidden;
	width: 100%;
	height: 100%;
	-webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	transform: rotate(-60deg);
}

.hexagon-in2 {

	-webkit-box-shadow:rgb(64 108 161 / 41%) 0px 0px 0px 200px inset;
	box-shadow: inset 0 0 0 200px #12121317;
	overflow: hidden;
  
	width: 98%;
	height: 100%;
	background-repeat: no-repeat;
  
	background-position:50%;
	background-size:auto;
	visibility: visible;


	-webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	transform: rotate(-60deg);

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease ;
}


.hexagon-in2:hover  .overlay{
  opacity: 1;
}

#lab article {
	padding-top: 1em;
	width: 820px;
	margin: 0 auto;
}

.lab_item:nth-child(7n-2) {
	margin-left: 101px;
}

.lab_item:nth-child(n+5) {
	margin-top: -55px;
}

@media (max-width: 1015px) {
	#lab {
	width: 100%;
}

}

@media (max-width: 820px) {
	.lab_item:nth-child(5n-1) {
	margin-left: 102px;
}

.lab_item:nth-child(n+4) {
	margin-top: -62px;
}

.lab_item:nth-child(7n-2) {
	margin-left: 0px;
}

.lab_item:nth-child(n+5) {
	margin-top: -56px;
}

#lab article {
	width: 610px;
}

}

@media (max-width: 640px) {
	#lab article {
	width: 405px;
}

.lab_item:nth-child(5n-1) {
	margin-left: 0px;
}

.lab_item:nth-child(3n) {
	margin-left: 102px;
}

.lab_item:nth-child(n+3) {
	margin-top: -56px;
}

}

@media (max-width: 450px) {
	#lab article {
	width: 300px;
}

.lab_item:nth-child(3n) {
	margin-left: 0px;
}

.lab_item:nth-child(2n) {
	margin-left: 102px;
}

.lab_item:nth-child(n+2) {
	margin-top: -56px;
}

}

.hexagon-section {
  background-color:rgba(245, 245, 245, 0.993);
  background-repeat: no-repeat;
  background-size:cover;
  padding-top: 20px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  color:white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .1s ease;
  background-color:  crimson;
}

.hexagon-section .item {
	display: none;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.text {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}





 .SEC{
	position: relative;
	min-height: 50vh;
	width: 100%;
	background: #070c0d;
	overflow: hidden;

}
.SEC:before{
	position: absolute;
	content: '';
	width: 2000px;
	height: 100%;
	bottom: -70%;
	border-radius: 50%;
	background: #3b7cf5;
}
.SEC .heading{
	display: inline-block;
	position: relative;
	color: #3b7cf5;
	font-size: 2.5vw;
	padding: 60px;
	width: 100%;
	text-align: center;
	font-weight: 600;
}
.SEC .heading:before{
	position: absolute;
	content: '';
	width: 15%;
	height: 7px;
	left: 50%;
	transform: translateX(-50%);
	bottom: 25%;
	background: #393939;
}
.SEC .heading b{
	color: #fff;
}
.SEC .wrapper{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
}
.SEC .wrapper .container{
	position: relative;
	width: 350px;
	color: #fff;
	background: #222;
	margin: 40px 10px;
	padding: 30px 20px;
	border-radius: 3px;
	transition: 0.3s ease;
}
.SEC .wrapper .container .profile{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -10%;
	width: 100%;
	display: block;
}
.SEC .wrapper .container .profile .imgBox{
	position: relative;
	height: 100px;
	width: 100px;
	margin: auto;
	border: 8px solid #070c0d;
	border-radius: 50%;
	overflow: hidden;
}
.SEC .wrapper .container .profile .imgBox img{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	border-radius: 50%;
	object-fit: cover;
	transition: 0.3s ease;
}
.SEC .wrapper .container .profile .imgBox:hover img{
	filter: saturate(140%);
	transform: scale(0.95);
}
.SEC .wrapper .container .profile h2{
	padding: 5px 0;
	text-transform: capitalize;
	color: #fff;
	letter-spacing: 1px;
	text-align: center;
}
.SEC .wrapper .container p{
	margin-top: 100px;
	color: #fff;
	padding: 0 8px;
	font-size: 15px;
	opacity: 0.8;
	text-align: left;
}
.SEC .wrapper .container .left{
	font-size: 30px;
	display: block;
	text-align: left;
	color: #3b7cf5;
}
.SEC .wrapper .container .right{
	font-size: 30px;
	display: block;
	text-align: right;
	color: #3b7cf5;
}
.SEC .wrapper .container .social{
	width: 100%;
}
.SEC .wrapper .container .social i{
	font-size: 1.2em;
	color: #fff;
	padding: 8px;
	background: rgba(255,255,255,0.08);
	border-radius: 4px;
	box-shadow: 0 4px 4px rgba(0,0,0,0.5);
}
.SEC .wrapper .container .social i:hover{
	background: #3b7cf5;
}

.home{
    display: flex;
    background-image: url("../svg/2593044.jpg")   ;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
    background-attachment:fixed;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width{
  width: 100%;
  display: flex;
}
.home .max-width .row{
  margin-right: 0;

}

.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;

}
.home .home-content .text-3{
    font-size: 22px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: crimson;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: crimson;
    background: none;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto 0px;
}


.about{
	background-color: #1c2a2c;
	color: white;
}
.about p{
     margin-top:15px;
	 width:90%;
}
.about h3 {
	color:rgb(196, 30, 132);
}


#team {
	margin: 20px;
}

#team h2 {
	margin-bottom: 10px;
	
}
#team .teamcard {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#team .w3-card {
	background-color:rgba(0, 0, 0, 0.703);
	color: white;
	width: 300px;
	height: 500px;
}
#team img {
		max-width: 100%;
		height: 15rem;
		padding: 10px;
	  }

#team  .w3-card h6{
	text-align:justify; 
	color: #fff;
	font-size: 16px;

}

#team .w3-card:hover {
	transform: scale(1.05);
    color: black;
	background: #1abc9c;
	transition: all 0.3s ease;


}




.choose{
	background-color: #3795E3;
	padding-top: 100px;
	padding-bottom: 100px;
  }
  
  @media (max-width:768px)  {
	.choose
	{
	  clip-path:none;
	
	}
  }
  
  .item span {
  display: inline-block;
  text-decoration: none;
  
  }
  
  .item {
  background: #fff;
  text-align: center;
  padding: 30px 25px;
  -webkit-box-shadow:0 0px 25px rgba(0, 0, 0, 0.07);
  box-shadow:0 0px 25px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  border:5px solid rgba(0, 0, 0, 0.07);
  margin-bottom: 30px;
  -webkit-transition: all .5s ease 0;
  transition: all .5s ease 0;
  transition: all 0.5s ease 0s;
  height:500px;
  }
  .item:hover{
  background: #1abc9c;
  box-shadow:0 8px 20px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: all .5s ease 0;
  transition: all .5s ease 0;
  transition: all 0.5s ease 0s;
  }
  .item:hover .item, .item:hover span.icon{
  background:#fff;
  border-radius:10px;
  -webkit-transition: all .5s ease 0;
  transition: all .5s ease 0;
  transition: all 0.5s ease 0s;
  }
  .item:hover h6, .item:hover p{
  color:#fff;
  -webkit-transition: all .5s ease 0;
  transition: all .5s ease 0;
  transition: all 0.5s ease 0s;
  }
  .item .icon {
  font-size: 40px;
  margin-bottom:25px;
  color: #f91942;   
  width: 90px;
  height: 90px;
  line-height: 96px;
  border-radius: 50px;
  }
  .item .feature_box{
  background:rgba(247, 198, 5, 0.20);
  color:#f91942
  }
  
  .item p{
  font-size:15px;
  line-height:max-content;
  text-align: left;
  }
  .item h6 {
  margin-bottom:20px;
  color:#2f2f2f;
  font-size: 20px;
  }
  
  .item i{
	padding:20px;
  }
  
  
  

  .section-title {
	text-align: center;
	padding-bottom: 30px;
  }
  .section-title h2 {
	font-size: 32px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 20px;
	padding-bottom: 20px;
	position: relative;
	color: black;
  }
  .section-title h2::before {
	content: "";
	position: absolute;
	display: block;
	width: 120px;
	height: 1px;
	background: #ddd;
	bottom: 1px;
	left: calc(50% - 60px);
  }
  .section-title h2::after {
	content: "";
	position: absolute;
	display: block;
	width: 40px;
	height: 3px;
	background: #fdc134;
	bottom: 0;
	left: calc(50% - 20px);
  }
  .section-title p {
	color: black;
	margin-bottom: 0;
	font-size:18px;
  }
  


  .btn1{
	  text-align: center;
		padding: 10px 20px;
		margin-top:10px; 
		margin-left: 75px;
		background-color: #fff;
		border-radius: 10px;
	
  }
  .btn2{
	  text-align: center;
		padding: 10px 20px;
		margin-top:10px; 
		
		background-color: #fff;
		border-radius: 10px;
	
  }