.meals {
  margin: 0.7rem;
  animation: meals-appear 1s ease-out forwards;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 10px;
}

.meals ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
